@import "../components/variebles.scss";
.login {
  max-width: 100vw;
  height: 70vh;
  display: grid;
  place-items: center;
  font-size: 1.3rem;
  font-weight: 500;
  background-image: linear-gradient(135deg, $color-primary, $color-secundary);
  &__container {
    max-width: 22rem;
  }
}
